# Download/lookback history
TIDE_LOOK_BACK_DAYS=400
WAVE_LOOK_BACK_DAYS=120
RIPPLE_LOOK_BACK_DAYS=90
WAVE_SR_LOOKBACK_DAYS=90

# Intervals
TIDE_INTERVAL=1wk
WAVE_INTERVAL=1d
RIPPLE_INTERVAL=1h

# Candles shown on chart
TIDE_CHART_BARS=15
WAVE_CHART_BARS=21
RIPPLE_CHART_BARS=30
WAVE_SR_CHART_BARS=90
